.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;

}
.weight{
    font-size: 30px;
}
.display{
    display: flex;
    margin-bottom: 100px;
}
.first-section{
    width: 50%;
    margin: 0;
}
.second-section{
    background-image: url(eat-healthy-main/images/shapes/7.png);
}
.orange{
    color: orange;
}
.order{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    color: white;
    border-radius: 20px;
    padding: 5px 10px ;
    font-weight: 600;
}
.items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    border-radius: 7px;
    box-shadow: 10px 10px 20px gray;
}
#allign{
    text-align: center;
}
.pad{
    padding-left:5% 10% ;
}
footer{
    text-align: center;
}
footer{
    text-align:center ;
    color: white;
    background-color: black;
    padding: 5% 5%;
}